// Page
// -----------------------------------------------------------------------------
.page {
  max-width: 1002px;
  position: relative;

  .container {
    width: auto;
  }

  @include breakpoint(sm) {
    border: 1px solid #dfdfde;
    margin: 15px auto;
  }

  &__content {
    padding-top: 15px;
    padding-bottom: 15px;

    @include breakpoint(md) {
      min-height: 800px;
    }
  }
}
