// Page
// -----------------------------------------------------------------------------
.page--front {

  .page__content {

    .block__title {
      text-align: center;
      line-height: 1;
      position: relative;
      margin: 1em auto;
    }
  }
}

// Region: Carousel
// -----------------------------------------------------------------------------
.page__carousel {

  .carousel {
    border-bottom: 12px solid $brand-primary;
  }

  .item {

    .field-roundearth-carousel-slides__field-roundearth-carousel-media {

      img {
        width: 100%;
      }
    }
  }
}

// News: Teaser
// -----------------------------------------------------------------------------
.roundearth-news--teaser {
  margin-bottom: 2em;

  > a {
    color: $brand-primary;
    font-weight: bold;
  }
}
