/**
 * @file
 * Override styles from Classy or Seven's form.css that are problematic for CiviCRM.
 */

.crm-container .label {
  display: initial;
  font-weight: inherit;
  font-size: inherit;
}
.crm-container td.label {
  display: table-cell;
}