// @file
// SASS partials import
// -----------------------------------------------------------------------------
@import "base/variables";
@import "radix/mixins";
@import "layout/page/page.fixed";

.carousel {

  .carousel-caption {

    h3 {
      font-size: 2rem;
    }

    p {
      font-size: 1rem;
    }
  }
}
