{#
/**
 * @file
 * Template for the News node in Teaser view mode.
 */
#}
{% set bundle = node.bundle|clean_class %}
{%
set classes = [
  'node',
  bundle,
  node.isPromoted() ? bundle ~ '--promoted',
  node.isSticky() ? bundle ~ '--sticky',
  not node.isPublished() ? bundle ~ '--unpublished',
  view_mode ? bundle ~ '--' ~ view_mode|clean_class,
]
%}

<article{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {{ title_suffix }}

  <div class="row">
    {% if not node.field_roundearth_media_featured.isempty %}
      <div class="col-sm-4">
        {{ content.field_roundearth_media_featured }}
      </div>
    {% endif %}

    <div class="col-sm-{{ (not node.field_roundearth_media_featured.isempty) ? '8' : '12' }}">
      <h4>
        <a href="{{ url }}">{{ label }}</a>
      </h4>

      {{ content|without('field_roundearth_media_featured', 'links') }}

      <div class="links">
        <a href="{{ url }}" class="text-muted">
          {{ "Read more"|t }} <i class="fa fa-angle-right"></i>
        </a>
      </div>
    </div>
  </div>
</article>
