// Civicrm: Forms
// -----------------------------------------------------------------------------
.messages.crm-error {
  padding: 1em;

  ul {
    margin: 1em 0 0;
    padding: 0 0 0 1.5em;
  }
}

#crm-container.crm-public {

  #printer-friendly {
    margin: 0 0 1em;
    text-align: right;
  }

  div.crm-contribution-main-form-block,
  div.crm-contribution-confirm-form-block,
  div.crm-contribution-thankyou-form-block {
    border: 1px solid #ddd;
    border-radius: 5px;

    .intro_text-section {
      border-bottom: 1px solid $gray-lighter;

      p {
        font-size: 1.2em;
        line-height: 140%;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    .label {
      display: block;
      margin-bottom: .5em;
      padding: 0;
      float: none;

      &:empty {
        margin-bottom: 0;
      }

      .crm-error {
        background: none;
        padding: 0;
      }
    }

    .content {
      padding: 0;

      .crm-error {
        display: block;
        margin-top: .25em;
      }

      &.calc-value {
        display: block !important;
      }
    }

    #crm-submit-buttons,
    .crm-submit-buttons {
      margin: 0;
      padding: 1em;
      background-color: $gray-lighter;
      height: auto;
      overflow: hidden;
    }

    .is_pledge-section,
    #priceset-div,
    .thankyou_text-section,
    .friend_link-section,
    .contribution_thankyou_footer-section {
      border-bottom: 1px solid $gray-lighter;
    }

    .contribution_thankyou_footer-section {
      border-top: 1px solid $gray-lighter;
    }

    fieldset {
      border: none;
      margin: 0;

      legend {
        background-color: #ddd;
        padding: 1em;
        text-transform: uppercase;
        width: 100%;
      }
    }

    .crm-section {
      clear: both;
      padding: 1em;

      &:empty {
        padding: 0;
      }

      .crm-section {
        padding: 0;
        margin-bottom: 1em;

        &:last-child,
        &:last-of-type {
          margin-bottom: 0;
        }
      }

      &#onBehalfOfOrg {
        padding: 0;

        > div {
          padding: 1em;

          &:empty {
            padding: 0;
          }
        }
      }

      .label {
        color: #000;
        text-align: left;
        width: 100%;

        label {
          font-weight: bold;
        }
      }

      .content {
        clear: both;
        margin: 0;
      }
    }

    // Hack: Fix fieldset styling on membership priceset
    .crm-section > #membership > #priceset fieldset {
      margin: -1em;

      > #priceset {
        padding: 1em 1em 0 1em;
      }
    }

    // Hack: Fix spacing by message about logging in or creating account
    .cms_user-section .crm_user-group .messages {
      margin: -1em 0 1em 0;
    }

    .four {
      width: 8em;
    }

    .big {
      width: 98%;
    }

    .header-dark {
      background-color: #ddd;
      border-radius: 0;
      color: #000;
      padding: 1em;
      text-transform: uppercase;
    }

    .help,
    .messages {
      margin: 1em;
      padding: 1em;
    }

    div {

      &.display-block {
        margin: 0;
        padding: 1em;
      }
    }

    .crm-button {

      &.crm-i-button {
        background: none;
        border: none;
        margin: 0;
        padding: 0;

        + .crm-i-button {
          margin-left: 1em;
        }

        i {
          display: none;
        }
      }
    }

    table {

      &.form-layout-compressed {

        td {
          padding: 1em;
          text-align: left;

          textarea {
            min-height: 8em;
            width: 100%;
          }
        }
      }
    }

    #civicrm-footer {

      &.crm-public-footer {
        border: none;
        margin: 0;
        padding: 1em;
        text-align: center;
      }
    }

    input {

      &[type="radio"] {
        margin: 0 1em 0 0;
      }

      &[type="text"] {
        width: 98%;

        &:focus {
          outline: none;
        }
      }

      // Leave room for the "clear" button.
      &.crm-form-date {
        width: auto;
      }
    }

    select {

      &:focus {
        outline: none;
      }
    }

    .select2-container .select2-choice {
      height: auto;
    }

    #intro_text,
    #membership-intro,
    #thankyou_text,
    #thankyou_footer,
    .tell_friend_thankyou-section,
    .pay_later_receipt-section {
      padding: 1em;

      &:empty {
        padding: 0;
      }
    }

    .is_pledge-section {

      input {

        &[type="text"] {
          width: auto;
        }
      }
    }

    #pledge_frequency_unit {
      height: 2.7em;
    }

    #payment_information {

      div {

        &.crm-form-select.big {
          display: none;
        }
      }

      select {
        display: block !important;
        width: 100%;
      }
    }

    #tell-a-friend {
      overflow: hidden;

      a {
        @extend .btn-link;
        background: none;
        text-shadow: none;
        float: right;
        font-weight: bold;
      }
    }

    #membership-listings {

      td {
        border: none;
      }
    }

    .payment_processor-section {
      padding: 1em;
    }

    .price-set-row {

      .crm-price-amount-label {
        font-weight: normal;
      }
    }

    .pay_later_receipt-section,
    .is_pledge-section {

      > .label {
        display: none;
      }
    }

    .crm-credit_card_type-icons {
      overflow: hidden;
      margin: 1em 0;
      padding: .5em 0;
    }

    .cvv2-icon {
      margin-top: 1em;
    }

    .contribution_footer_text-section {
      font-size: 0.85em;
      text-align: center;
      color: $gray;

      p {

        &:empty,
        &:last-child {
          margin: 0;
        }
      }
    }
  }

  .crm-contribution-thankyou-form-block {

    > br,
    .spacer {
      display: none;
    }
  }

  .crm-socialnetwork {
    padding: 1em;

    h3 {
      padding: 0;
    }

    > br {
      display: none;
    }

    .crm-fb-tweet-buttons {
      display: flex;
      flex-wrap: wrap;
      margin: 1em 0;
      width: 100%;
    }

    .label {
      width: auto !important;
      padding: 0;
      margin: 0;
    }

    iframe {
      width: auto !important;
    }
  }

  input {

    &.crm-form-submit {
      background: none;
      @extend .btn-default;
      padding: 0 1em;
      text-shadow: none;
      border: 1px solid $gray-light;

      &.default {
        @extend .btn-success;
      }

      &.cancel {
        @extend .btn-danger;
      }
    }
  }

  .tell_friend_form-group {

    table {
      background: none;
      border: 0;

      tr,
      td {
        background: none;
        border: 0;
      }

      td {
        display: table-cell;
        vertical-align: top;

        label {
          font-weight: bold;
        }
      }
    }
  }

  .tell_friend_emails-group {

    input {
      width: 150px;
    }
  }
}
