// Menu
// -----------------------------------------------------------------------------
.menu {
  padding: 0;
  margin: 0;

  li {
    list-style: none outside none;
  }

  &--inline {

    li {
      display: inline-block;

      + li {
        margin-left: .5em;
      }
    }
  }
}
