// Navbar
// -----------------------------------------------------------------------------
.navbar {
  margin-bottom: 0;
  border-top: 1px solid #dfdfde;

  &-left {

    @include breakpoint(sm) {
      margin-left: - ($grid-gutter-width / 2);
    }
  }

  .navbar-collapse--user {
    margin-right: -15px;
    margin-left: -15px;
    background-color: #fff;

    .menu {

      &--header {
        display: none;
      }

      &--account {

        li {
          display: block;
          margin-left: 0;

          a {
            color: #777;
            border: none;
            border-radius: 0;
            display: block;
            text-align: left;
            padding: 10px 15px;
            height: auto;
            line-height: inherit;
          }
        }
      }
    }
  }
  
  .navbar-collapse {
    background: white;
    
    @include breakpoint(sm) {
      background: $navbar-default-bg;
    }
  }

  .navbar-nav {
    margin-top: 0;
  }

  .navbar-form {
    margin-bottom: 0;

    .form-item {
      margin-bottom: 0;
    }
  }

  &.navbar-default {

    .hamburger-menu {
      background-color: $brand-primary;
      border-color: $brand-primary;

      .icon-bar {
        background-color: #fff;
      }
    }

    .user-menu {
      border-color: $brand-primary;
      background-color: #fff;
      padding-top: 5px;
      padding-bottom: 5px;

      i {
        color: $brand-primary;
        font-size: 1.5em;
      }
    }
  }
}
