// Images in Gallery view mode
// -----------------------------------------------------------------------------
.roundearth-gallery-image {
  .image__name,
  article > h2 {
    font-weight: bold;
    font-size: inherit;
    margin: 0 0 1em 0;
  }

  .image__field-panopoly-media-description,
  .roundearth-gallery__body {
    margin-bottom: 1em;
  }

  .roundearth-gallery__tags,
  .image__field-panopoly-media-tags {
    div {
      display: inline;
    }
  }

  .roundearth-gallery__media,
  .image__field-media-image {
    text-align: center;
  }

  img {
    margin-bottom: 1em;
  }

  @media (min-width: $screen-sm-min) {
    & {
      width: 32%;
      float: left;
      margin: 0 .5% 1em .5%;
      min-height: 425px;
    }

    .image__name,
    article > h2,
    .image__field-panopoly-media-description,
    .roundearth-gallery__body {
      line-height: 1.1em;
      height: 2.2em;
      overflow: hidden;
    }

    .roundearth-gallery__tags,
    .image__field-panopoly-media-tags {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    img {
      max-height: 225px;
      width: auto;
    }

  }
}

// Views
// -----------------------------------------------------------------------------
.view--roundearth-gallery-media,
.view--roundearth-gallery {
  .view__content {
    @extend .clearfix;
  }
}

// Teaser
// -----------------------------------------------------------------------------
.roundearth-gallery--teaser {

  .roundearth-gallery {

    &__tags {
      margin-top: 1em;
    }

  }

}

// Full
// -----------------------------------------------------------------------------
.roundearth-gallery--full {

  .roundearth-gallery {

    &__media {
      @extend .clearfix;
    }

    &__tags {
      margin-top: 1em;
    }

  }

}

