// Slice
// -----------------------------------------------------------------------------
.slice {
  padding: 3em 0;

  @include breakpoint(lg) {
    padding-top: 4em;
    padding-bottom: 4em;
  }

  &:nth-child(even) {
    background: #f9f9f9;
  }
}
