{#
/**
 * @file
 * Template for the header menu.
 */
#}

{%
set menu_classes = [
'menu',
'menu--footer',
'menu--inline',
]
%}

<ul{{ attributes.addClass(menu_classes) }}>
  {% for item in items %}
    {%
    set item_classes = [
    item.in_active_trail ? 'active',
    ]
    %}
    <li{{ item.attributes.addClass(item_classes) }}>
      <a href="{{ item.url }}">{{ item.title }}</a>
    </li>
  {% endfor %}
</ul>
