/**
 * Custom style for civicrm menu.
 */
/*body.has-civicrm-menu .toolbar-bar {*/
  /*padding-top: 27px;*/
/*}*/

#civicrm-menu {
  background-color: rgb(77, 77, 105);
}

#civicrm-menu > li.menumain {
  color: white;
  height: 40px !important;
  line-height: 40px;
}

#civicrm-menu > li.menumain:hover {
  color: rgb(70, 67, 84);
}

body.has-civicrm-menu .toolbar-bar {
  padding-top: 40px;
}

body .toolbar-menu {
  height: auto !important;
}

#quickSearch {
  width: 0;
  transition: width 200ms;
}

#crm-qsearch #quickSearch.has-value {
  width: 6em;
}

#crm-qsearch.focus #quickSearch {
  width: 14em;
}

#civicrm-menu #crm-qsearch input#sort_name_navigation {
  width: 100% !important;
}

.crm-container a.sorting::after,
.crm-container a.sorting_asc::after,
.crm-container a.sorting_desc::after {
  left: auto;
}
