// Search block form
// -----------------------------------------------------------------------------
.search-block-form, .roundearth-search-block-form {

  .page__sidebar & {
    padding: 0;
    margin-left: 0;
    margin-right: 0;
  }
}
